.hard__words{
    margin-top: 100px;
}

.hard__words__start{
 color: #fff;
    background-color: rgb(82, 115, 230);
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    
}