.animation {
  position: absolute;
  background-color: transparent;
  right: 2px;
  bottom: -30px;
  z-index: 230;
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .animation {
      top: -80px;
      height: 150px;
  }
}

.show-animation{
  opacity: 1;
}

.animation__repeat-mode{
  opacity: 1;
  left: 0;
  max-width: 220px;
}
.message-container {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: slide-up;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    width: 100px;
   
  }
  .message-container__repeat{
    left: 70px;
    width: 140px;
    top: -48px;
  }
  .message-bubble {
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    transition:  all ease-in-out 3s;
   
  }
  .repeat-count{
    font-weight: bold;
   font-size: 18px;
   color: rgb(82 115 230)
  }
  
  .message-text {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  
  .speech-arrow {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px;
    border-color: white transparent transparent transparent;
    transition:  opacity ease-in-out 1.5s;
 
    
  }

  .hide{
    transform: translateY(50%);
    opacity: 0;

  }
  .hide-arrow{
    opacity: 0;
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }


  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    50% { transform: translateX(5px) rotate(5deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
  }
  
  @keyframes colorChange {
    0% { color: black; }
    50% { color: green; }
    100% { color: black; }
  }
  
  .animatedMessage {
    animation: shake 2s infinite, colorChange 2s infinite;
  }