.upload {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.upload__field {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 200px;
  justify-self: center;
  margin: auto;
}

.upload__error {
  font-size: 14px;
  color: rgb(175, 4, 4);
}
