
.card{
    background-color: #f5eeee;
    max-width: 400px;
    margin: auto;
    max-height: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.card__question{
flex: 1;
background-color: rgb(247, 244, 244);
padding: 5px;
display: flex;
flex-direction: column;
}
.card__title{
font-size: 20px;
}
.card__word{
font-size: 18px;
color: rgb(37, 43, 37);
font-weight: bold;
margin-top: 10px;
}
.card__answer{
flex: 1;
background-color: rgb(197, 192, 192);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px;

}
.card__translate{
flex: 1;
font-size: 18px;
opacity: 1;
color: green;
font-weight: bold;
filter: blur(7px);
cursor: pointer;


}
.card__nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-width: 300px;

}
.card__button{
    padding: 5px;
    border-radius: 10px;
    outline: none;
    width: 80px;
    cursor: pointer;
    background-color: olivedrab;
    color: #fff;
    
}
.button__show{
    background-color: rgb(11, 87, 150);
}
.card__show{
    filter: blur(0);
}
