.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(82, 115, 230);
  display: flex;
  align-items: center;
}
.header__img {
  margin-left: 20px;
  font-size: 30px;
  display: flex;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.header__nav {
  display: flex;
  width: 100%;
  margin-left: 30px;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
 
}

.nav__ul {
  padding: 0;
  display: flex;
  width: 200px;
  justify-content: space-between;
  position: relative;
}

.ul__list {
  list-style: none;
}

.ul__list a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.ul__list a.active {
  color: rgb(223, 223, 46);
}

.hard__words__count {
  position: absolute;
  right: -20px;
  background-color: rgba(12, 123, 143, 0.8);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  font-size: 13px;

}
@media screen and (max-width: 768px) {
  .hard__words__count {
    right: -10px;
    top: 8px;
  }
  
}


/* MOBILE */
.nav__ul__mobile {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  height: 100vh;
  top: 0;
  width: 100%;
}

.ul__list__mobile {
  position: relative;
  left: -40px;
  height: 40px;
  font-size: 18px;
  list-style: none;
 
  
    color: #fff;
    font-size: 18px;
   
  width: 100%;
  
  
}

.ul__list__mobile a {
  color: #fff;

  font-weight: bold;
  text-decoration: none;
  padding: 5px 18px;
    position: relative;
    font-weight: 700;
}

.ul__list__mobile a.active {
  color: rgb(223, 223, 46);
  
    color: #7d86e9;
    border-radius: 4px;
    background-color: #fff;
    
}

.button_nav {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  background-color: #f2f2f2;
  border: none;
}
.my-div {
  display: none;
}

.material-drawer {
  display: block;
}

