
.card__question{
flex: 1;
background-color: rgb(247, 244, 244);
padding: 5px;
display: flex;
flex-direction: column;
border-radius: 10px;

}
.card__title{
    font-size: 20px;
    color: rgb(16, 123, 150);
    font-weight: bold;
    margin-top: 10px;
    }
.card__word{
    font-size: 18px;
    color: rgb(37, 43, 37);
    font-weight: bold;
    margin-top: 30px;
}