body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff1f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root{ 
  --primary-bg: hsla(214, 62%, 21%, 1);
  /* background-color: rgb(82, 115, 230); */
  /* --primary-bg: rgb(82, 115, 230);; */
  --primary-color: #fff;
  --active-color: hsla(214, 62%, 41%, 1);
  --hover-color: hsla(214, 62%, 61%, 1);
  --secondary-color: hsla(214, 62%, 31%, 1);
  --tertiary-color: hsla(214, 62%, 41%, 1);
  --quaternary-color: hsla(214, 62%, 51%, 1);
  --quinary-color: hsla(214, 62%, 61%, 1);
  --senary-color: hsla(214, 62%, 71%, 1);
  --septenary-color: hsla(214, 62%, 81%, 1);
  --octonary-color: hsla(214, 62%, 91%, 1);
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #ccc;
  --light-gray-color: #f4f4f4;
  --dark-gray-color: #333;
  --light-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --modal-shadow:rgba(0, 0, 0, 0.2);

--success-color: #28a745; 
--error-color: #dc3545; 
}