
.card{
    background-color: #f5eeee;
    max-width: 800px;
    margin: auto;
    width: 100%;
    max-height: 350px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    position: relative;
   
}


.card__answer{
flex: 1;
background-color: rgb(197, 192, 192);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px;
font-size: 18px;

}
.card__translate{

font-size: 18px;
opacity: 1;
color: green;
font-weight: bold;
filter: blur(7px);
cursor: pointer;
display: flex;

margin-top: 20px;

}

.card__show{
    filter: blur(0);
   
}







.disable{
    opacity: 0.4;
    cursor: no-drop;
    background-color: gray;
    transition: all 0.4s ease-in-out;
}

.count{
    position: absolute;
    left: 40px;
    top:10px;
    font-weight: bold;
    color: rgb(16, 123, 150);

}

.card__book{
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(16, 123, 150);
    width: 100%;
}







